body {
	font-family: 'Roboto Condensed', sans-serif;
}
a {
	text-decoration: none;
	text-transform: none;
	font-size: 25px;
	color: black;
}

.category {
	margin-left: 20px;
}
.conteiner {
	margin: 0 30%;
}
.main {
	margin: 5% 10%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}
.width {
	width: 40%;
	margin: 5px 10px;
	padding: 5px;
	border: 2px solid #8CA0CC;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 23px 0px rgba(115,115,115,1);
-moz-box-shadow: 0px 0px 23px 0px rgba(115,115,115,1);
box-shadow: 0px 0px 23px 0px rgba(115,115,115,1);
}